<div class="index-container">
    <h1 class="index-title">{{appTitle}} 🚀</h1>
    <form class="search-form" action="/wine/single-wine" method="GET">
        <input class="search-input" type="text" placeholder="Pick Your Wine!..">
        <button class="find-button" type="submit">Search</button>
    </form>
    
    <img class="main-image" src="/images/Screenshot 2023-04-24 at 13.39.31.png" alt="winery">
</div>