<div class="index-container">
  <h1 class="index-title">{{appTitle}} 🚀</h1>
  <h2 class="index-subtitle">Welcome to our wine collection page!</h2>

  <img
    class="main-image"
    src="https://images.unsplash.com/photo-1596142332133-327e2a0ff006?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
    alt="winery"
  />

  <div class="about-us">
    <div class="about-us-section">
      <h3 class="about-us-title">Our Vision</h3>
      <p class="about-us-text">At our wine page, we believe that wine is more than just a drink – it's a journey of discovery and enjoyment. We believe in providing a platform that is both informative and inspiring, where users can learn about different wines, connect with others who share their passion, and enhance their wine experience.</p>
      <p class="about-us-text">Our philosophy is simple: to create a wine page that is accessible, informative, and enjoyable, where everyone can discover and appreciate the world of wine.</p>
    </div>
    <div class="about-us-section">
      <h3 class="about-us-title">Our Mission</h3>
      <p class="about-us-text">We are committed to providing our users with expert guidance and education on all aspects of wine, from the production process to the latest trends and innovations. We believe in offering personalized recommendations based on individual preferences, to help our users discover new and exciting wines that they'll love.</p>
    </div>
    <div class="about-us-section">
      <h3 class="about-us-title">About our collection</h3>
      <p class="about-us-text">A wine collection is a carefully curated selection of wines that reflect the tastes and preferences of the collector. It can be a source of pride, enjoyment, and even investment for wine enthusiasts.</p>
      <p class="about-us-text">Our well-curated wine collection has a variety of wines from different regions, styles, and vintages. It also includes wines that are appropriate for different occasions, such as special events, dinner parties, or casual gatherings.</p>
    </div>
  </div>
</div>