<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav>
      <ul class="list">
        <li><a href="/">About</a></li>
        <li><a href="/wines">Our wines</a></li>
        <li><a href="/get-inspired">Get inspired</a></li>
      </ul>

      <ul class="list">
        <li><a href="/user/signup">Sign up</a></li>
        <li><a href="/user/login">Log in</a></li>
      </ul>

    </nav>

    {{{body}}}

    <footer>
      <h3>Contact Us</h3>
      <p class="footer-text">
      Storkower Straße 132, <br>
      10407 Berlin, <br>
      Germany <br>
      +49 30 12 34 56 78`
      </p>
    </footer>

    <script src="/js/script.js"></script>
  </body>

</html>