<form action="/createnew" method="post">

    <label for="wine">Wine:</label>
    <input type="text" name="wine">

    <label for="type">Type:</label>
    <input type="text" name="type">

    <label for="about">About:</label>
    <input type="text" name="about">

    <label for="origin">Origin:</label>
    <input type="text" name="origin">

    <label for="rating">Rating:</label>
    <input type="text" name="rating">

    <button type:"submit">Submit Form</button>
</form>