<div class="profile-container"> 
    <h1>Hello {{user.username}}, dear wine lover</h1>
    <div class="profile-texts">
        <p class="profile-text">Wine has been a part of human culture for thousands of years, and its rich history and diversity continue to fascinate us to this day. From the rolling hills of Tuscany to the sun-soaked vineyards of California, every glass of wine tells a story of the land, the people, and the traditions that produced it.</p>
        <p class="profile-text">At our community of wine lovers, we are committed to exploring this vast and fascinating world together. We aim to create a space where you can share your knowledge, experiences, and opinions about wine, as well as learn from others who are equally passionate about this beverage.</p>
        <p class="profile-text">Whether you prefer red, white, rosé, or sparkling wines, there is something for everyone here. We encourage you to ask questions, share your opinions, and discover new flavors and aromas that will excite your palate.</p>
        <p class="profile-text">We believe that wine is more than just a drink – it is a way of life. So, let's raise a glass and toast to the joy and beauty of wine. We look forward to sharing this journey with you.</p>
        <p class="profile-text">Cheers, <br>
       Alexandra, Nadezda, Lilly</p>
     </div>
    <a class="profile-link" href="/user/logout">Logout</a>
</div>