body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #7c0909;
  padding: 30px 50px;
}

.list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #eceaea;
  margin: 0 20px 0 0;
  font-size: 20px;
  line-height: 1.2;
  cursor: pointer;
}

.form-link {
  text-decoration: underline;
  font-size: 16px;
  color: blue;
  cursor: pointer;
}

.form-title {
  font-size: 38px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  margin: 56px 0 0;
}

.form {
  width: 330px;
  display: flex;
  flex-direction: column;
  position: relative;
  border: solid 3px #7c0909;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 56px auto 0;
  padding: 45px;
}

.login-form {
  margin-bottom: 80px;
}

.form-input {
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.2);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  height: 40px;
  padding: 0;
}

.form-button {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  background-color: #7c0909;
  color: #eceaea;
  margin: 40px 0 0;
  padding: 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.form-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  margin: 25px 0 0;
}

footer {
  /*position: fixed;*/
  position: relative;
  background-color: #7c0909;
  color: #eceaea;
  margin: 0;
  padding: 8px 15px;
  bottom: 0;
  width: 100%;
}

h3 {
  margin: 0 0 10px;
}

.footer-text {
  font-size: 12px;
  line-height: 1;
  margin: 0;
}

.index-container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.index-title {
  color: #7c0909;
  margin: 20px 0 0;
}

.main-image {
  width: 900px;
  object-fit: cover;
  background-repeat: no-repeat;
}

.search-form {
  margin: 15px 0;
}

.search-input {
  width: 450px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px #7c0909;
}

.find-button {
  height: 30px;
  background-color: #7c0909;
  color: #eceaea;
  padding: 0 25px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.profile-container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.profile-texts {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 36px;
}

.profile-text {
  margin: 0 120px 20px 40px;
}

.profile-link {
  cursor: pointer;
  text-decoration: none;
  color:#7c0909;
  text-align: right;
  margin-left: 900px;
}

.wine-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.wine-image {
  width: 50px;
  object-fit: cover;
}

.review-input {
  margin: 10px 0 0;
}